.hidden {
    display: none !important;
}

.calculadora-tarifas-form .form-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 15px;
}

.calculadora-tarifas-form .form-group {
    flex: 1;
    padding: 0 10px;
    box-sizing: border-box;
}

.calculadora-tarifas-form select, .calculadora-tarifas-form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.calculadora-tarifas-form .button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calculadora-tarifas-form .button:hover {
    background-color: #0056b3;
}
